<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">App Name</title>
</head>
<body>
<h2 th:text="${ownerHeading}">Main Heading comes from Controller</h2>
<!--<div>-->
<!--    <a target="_parent" href="/">Back to Index</a>-->
<!--</div>-->
<div>
    <table id="owners" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 100px">Id</th>
                <th style="width: 150px">First Name</th>
                <th style="width: 200px">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td>
                    <a th:href=" '/owners/' + ${owner.id}">
                    <span th:text="${owner.id}">  </span>
                    </a>
                </td>
                <td th:text="${owner.firstName}"></td>
                <td th:text="${owner.lastName}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>